/*
to check something
 @if  (your condition){
    true
   }
    @else{
        false
    }
*/
.box1 {
  width: 10px;
  background-color: orange;
  height: 5rem;
}

.box2 {
  width: 20px;
  background-color: black;
  height: 5rem;
}

.box3 {
  width: 10px;
  background-color: gray;
  height: 5rem;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
}

@keyframes move {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
}

.main-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[30];
      grid-template-columns: repeat(30, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 100vh;
}

.item:nth-child(1) {
  background-color: #ffb733;
  height: 4vh;
  border-radius: 20% 0;
  background-color: #493d41;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(2) {
  background-color: #ffc55c;
  height: 1vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(3) {
  background-color: #ffc457;
  height: 22vh;
  border-radius: 20% 0;
  background-color: #2e3807;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(4) {
  background-color: #ffa90a;
  height: 30vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(5) {
  background-color: #ffe6b8;
  height: 20vh;
  border-radius: 20% 0;
  background-color: #aa5797;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(6) {
  background-color: #ffaa0f;
  height: 16vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(7) {
  background-color: #ffc966;
  height: 6vh;
  border-radius: 20% 0;
  background-color: #764ea2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(8) {
  background-color: #ffbb3d;
  height: 13vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(9) {
  background-color: #ffac14;
  height: 33vh;
  border-radius: 20% 0;
  background-color: #1cb565;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(10) {
  background-color: #ffbc42;
  height: 35vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(11) {
  background-color: #ffb733;
  height: 26vh;
  border-radius: 20% 0;
  background-color: #5c1b2e;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(12) {
  background-color: #ffe0a8;
  height: 14vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(13) {
  background-color: #ffa90a;
  height: 32vh;
  border-radius: 20% 0;
  background-color: #88793b;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(14) {
  background-color: #ffedcc;
  height: 21vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(15) {
  background-color: #ffcd70;
  height: 9vh;
  border-radius: 20% 0;
  background-color: #54d83f;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(16) {
  background-color: #ffb329;
  height: 29vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(17) {
  background-color: #ffdb99;
  height: 40vh;
  border-radius: 20% 0;
  background-color: #558e5a;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(18) {
  background-color: #ffce75;
  height: 27vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(19) {
  background-color: #ffbe47;
  height: 38vh;
  border-radius: 20% 0;
  background-color: #a47552;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(20) {
  background-color: #ffa90a;
  height: 36vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(21) {
  background-color: #ffaa0f;
  height: 10vh;
  border-radius: 20% 0;
  background-color: #5e6661;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(22) {
  background-color: #ffbe47;
  height: 22vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(23) {
  background-color: #ffcb6b;
  height: 15vh;
  border-radius: 20% 0;
  background-color: #7fb879;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(24) {
  background-color: #ffdb99;
  height: 36vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(25) {
  background-color: #ffcb6b;
  height: 13vh;
  border-radius: 20% 0;
  background-color: #9d733a;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(26) {
  background-color: #ffb938;
  height: 12vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(27) {
  background-color: #ffedcc;
  height: 31vh;
  border-radius: 20% 0;
  background-color: #2363c1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(28) {
  background-color: #ffe0a8;
  height: 3vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(29) {
  background-color: #ffaa0f;
  height: 15vh;
  border-radius: 20% 0;
  background-color: #c56376;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.item:nth-child(30) {
  background-color: #ffd280;
  height: 2vh;
  border-radius: 20% 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
/*# sourceMappingURL=main.css.map */