* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

 #green {
    background-color: green;
  }
  
  .shapes div {
    width: 9rem;
    height: 9rem;
    display: inline-block;
    border: 2px black solid;
    margin-left: 3rem;
  }
  #rectangle {
    height: 15rem;
    background-color: rgb(23, 136, 206);
  }
  #triangle {
    background-color: purple
    border-left: 20px  ;
    border-right: 20px  ;
    border-bottom: 20px  ;
    border-top: 20px ;
    
    
    ;
    
  }
  #square {
    background-color: green;
  }
  
  #circle {
    background-color: yellow;
    border-radius: 50%;
  }
  
 
  