table tr td {
    border: 2px black solid;
    border-collapse: collapse;
    
    }
td ,tr{ 
    width: 50px ;
    height: 50px;}
tr:nth-child(2n+1) :nth-child(2n+1), tr:nth-child(2n) :nth-child(2n) { 
    background-color: black;
}