.container{
    border: 2px solid black;
    height: 40rem;
    width: 50rem;
    position: relative;
}
.top{
   
    border: 2px solid black;
    height: 35rem;
    width: 48rem;
    position: absolute;
    top: 1%;
    margin-left: 1rem;


}
.bottom{
    
    
    border: 2px solid black;
    height: 4rem;
    width: 48rem;
    position: relative;
    top: 89% ;
    margin-left: 1rem;
}
.top .socialmedia{
    position: absolute ;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
   flex-flow: row wrap;
   align-items: stretch;
   flex-direction: column;
    height: 97%;
    width: 35%;

}
.middle{
    border: 2px solid black;
    right:53%;
    position: absolute;
    height: 97%;
    width: 10%;
}
.information{
    border: 2px solid black;
    right:1.5%;
    position: absolute;
    height: 97%;
    width: 50%;
    
    ;




}
.facebox, .googlebox ,.twitterbox{
    flex-grow: 1;
    border: 2px solid black;
    
}
.facebox a{
    background-color: lightskyblue;

}
.googlebox a{
    background-color: lightcoral;
}
.twitterbox a{
    background-color: lightsteelblue;
}
.information h1{
    text-align: center;
}
.information input{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.remember input{
   margin-left: 50%;
}
.middle h1{
 
}